.delButton {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
    background: transparent;
    background-image: url('../../img/button1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: 'Crayon' ;
}

.delButton:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform : scale(1.1);
}

.confirmButton {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    overflow: hidden;
    padding: 5px;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
    background: transparent;
    background-image: url('../../img/button1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: 'Crayon' ;
}

.confirmButton:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform : scale(1.1);
}