#gameRequest{
  position: absolute;
  top: 45%;
  left: 45%;
  right: 45%;
  z-index: 999;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 5%;
  text-align: center;
}
#frienRequestButtons button{
  padding: 10px;
  margin: 10px
}